<h1>Listing credit_cards</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Bank</th>
    <th>Brand</th>
    <th>Interest</th>
    <th>Benefit type</th>
    <th>Benefit earn rate</th>
    <th>Benefit Return Rate</th>
    <th>Redemption value</th>
    <th>Goal Name</th>
    <th>Goal Cost</th>
    <th>Goal Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credit_cards.each do |credit_card| %>
  <tr>
    <td><%= credit_card.name %></td>
    <td><%= credit_card.bank %></td>
    <td><%= credit_card.brand %></td>
    <td><%= credit_card.interest %></td>
    <td><%= credit_card.benefit_type %></td>
    <td><%= credit_card.benefit_earn_rate %></td>
    <td><%= number_to_currency((credit_card.redemption_value.to_f / 100), :precision => 3) %></td>
    <td><%= number_to_currency(credit_card.goal, :precision => 3) %></td>
    <td><%= credit_card.goal_name %></td>
    <td><%= credit_card.goal_cost %></td>
    <td><%= number_to_currency(credit_card.goal_value, :precision => 2)%></td>
    <td><%= link_to 'Show', credit_card %></td>
    <td><%= link_to 'Edit', edit_credit_card_path(credit_card) %></td>
    <td><%= link_to 'Destroy', credit_card, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credit card', new_credit_card_path %>
