<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>Crossstreet:</b>
  <%= @place.crossStreet %>
</p>

<p>
  <b>City:</b>
  <%= @place.city %>
</p>

<p>
  <b>State:</b>
  <%= @place.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @place.zip %>
</p>

<p>
  <b>Category:</b>
  <%= @place.category %>
</p>

<p>
  <b>Description:</b>
  <%= @place.description %>
</p>

<p>
  <b>Url:</b>
  <%= @place.url %>
</p>

<p>
  <b>Avgprice:</b>
  <%= @place.avgPrice %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
